header{
    background-color: var(--color-primary);
    height: 60px;
    display: flex;
    align-items: center;
}

.dsmovie-nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.dsmovie-heading{
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.dsmovie-contact{
    display: flex;
}

.dsmovie-contact span{
    margin-left: 10px;
}